*{
	margin: 0;
	padding: 0;
}

#eend{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 675px;
	top: 270px;
}

#container{
	position: relative;
	width: 1535px;
	height: 700px;
	background:url("stage.png");
}

.stats{
	background-color: grey;
	width: 150px;
	height: 90px;
	border: 4px black solid;
	border-radius: 10px;
}

.text{
	color: white;
}

#hit{
	color: white;
}