*{
	margin: 0;
	padding: 0;
}

#eend{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 670px;
	top: 270px;
}

.container{
	position: relative;
	width: 1500px;
	height: 700px;
	background:url("stage.png");
}